manifest {
	author = 'Sergej Nowoshilow'
    description = 'The pipeline estimates the genome size by running Jellyfish in a parallel fashion'
    mainScript = 'GenomeSize.nf'
    version = '1.0.0'
    nextflowVersion = '>=1.2'
}

executor {

	$local {
		cpus = 8
		memory = '32 GB'
	}

	$slurm {

		queueSize = 200
	}
}

process {

	errorStrategy = 'retry'
	maxRetries = 1
	maxForks = 200
}

singularity {

    enabled = true
}

process {

    withName: countKMers {

        executor = 'slurm' 
        cpus = 14
        errorStrategy = 'retry'
        maxRetries = 3
        time = { 8.hour * task.attempt }
        memory = { 100.GB * task.attempt }
        clusterOptions = { task.attempt == 1 ? '--qos=short' : '--qos=medium --partittion=m' }
        module = 'singularity/3.4.1'
        container = 'library:///tanakalab/jellyfish:master'
    }

    withName: mergeCounts {

        executor = 'slurm' 
        cpus = 1
        errorStrategy = 'retry'
        maxRetries = 3
        time = { 24.hour * task.attempt }
        memory = { 32.GB * task.attempt }
        clusterOptions = { task.attempt < 3 ? '--qos=medium' : '--qos=long' }
        module = 'singularity/3.4.1'
        container = 'library:///tanakalab/jellyfish:master'
    }

    withName: buildHistogram {

        executor = 'slurm' 
        cpus = 16
        memory = '48G'
        clusterOptions = '--qos=short'
        module = 'singularity/3.4.1'
        container = 'library:///tanakalab/jellyfish:master'
    }

}

timeline {

    enabled = true
}

report {

    enabled = true
}